Proyectos/ITSC ITM/DESARROLLO/loam-framework/core-catalog/catalog-jaxb/src/main/resources/com/webapp/schemas/CatalogManagerV1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp200409="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsp200607="http://www.w3.org/2006/07/ws-policy"
	xmlns:mf="http://www.loam.com/framework/core/catalog/jaxb/ws/general/Headers"
	xmlns:ns="http://www.loam.com/framework/core/catalog/jaxb/ws/CatalogManager"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.loam.com/framework/core/catalog/jaxb/ws/CatalogManager"
	xmlns:tnsEx="http://www.loam.com/framework/core/catalog/jaxb/ws/common/ExcepcionGeneral"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CatalogManager"
	targetNamespace="http://www.loam.com/framework/core/catalog/jaxb/ws/CatalogManager">

	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.loam.com/framework/core/catalog/jaxb/ws/CatalogManager">
			<xsd:include schemaLocation="CatalogManagerV1.xsd" />
			<xsd:import schemaLocation="HeaderRequest.xsd"
				namespace="http://www.loam.com/framework/core/catalog/jaxb/ws/general/Headers" />
			<xsd:import schemaLocation="HeaderResponse.xsd"
				namespace="http://www.loam.com/framework/core/catalog/jaxb/ws/general/Headers" />
			<xsd:import schemaLocation="ExcepcionGenerica.xsd"
				namespace="http://www.loam.com/framework/core/catalog/jaxb/ws/common/ExcepcionGeneral" />
		</xsd:schema>
	</wsdl:types>

	<!--MaintainCatalogRolMenuIn-MaintainCatalogRolMenuOut -->
	<wsdl:message name="MaintainCatalogRolMenuExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogRolMenuRequest">
		<wsdl:part name="request" element="ns:MaintainCatalogRolMenuIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogRolMenuResponse">
		<wsdl:part name="response" element="ns:MaintainCatalogRolMenuOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>

	<!--MaintainCatalogMenuIn-MaintainCatalogMenuOut -->
	<wsdl:message name="MaintainCatalogMenuExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogMenuRequest">
		<wsdl:part name="request" element="ns:MaintainCatalogMenuIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogMenuResponse">
		<wsdl:part name="response" element="ns:MaintainCatalogMenuOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>

	<!--MaintainCatalogContactMethodIn-MaintainCatalogContactMethodOut -->
	<wsdl:message name="MaintainCatalogContactMethodExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogContactMethodRequest">
		<wsdl:part name="request" element="ns:MaintainCatalogContactMethodIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogContactMethodResponse">
		<wsdl:part name="response" element="ns:MaintainCatalogContactMethodOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>

	<!--ConsultCatalogColorIn-ConsultCatalogColorOut -->
	<wsdl:message name="MaintainCatalogColorExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogColorRequest">
		<wsdl:part name="request" element="ns:MaintainCatalogColorIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogColorResponse">
		<wsdl:part name="response" element="ns:MaintainCatalogColorOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>

	<!--CatalogoRolesIn-CatalogoRolesOut -->
	<wsdl:message name="MaintainCatalogRolExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogRolRequest">
		<wsdl:part name="request" element="ns:MaintainCatalogRolIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogRolResponse">
		<wsdl:part name="response" element="ns:MaintainCatalogRolOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>

	<!--CatalogoCoinIn-CatalogoCoinOut -->
	<wsdl:message name="MaintainCatalogCoinExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogCoinRequest">
		<wsdl:part name="request" element="ns:MaintainCatalogCoinIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogCoinResponse">
		<wsdl:part name="response" element="ns:MaintainCatalogCoinOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>
	<!--CatalogoCategoryIn-CatalogoCategoryOut -->
	<wsdl:message name="MaintainCatalogCategoryExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogCategoryRequest">
		<wsdl:part name="request" element="ns:MaintainCatalogCategoryIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogCategoryResponse">
		<wsdl:part name="response" element="ns:MaintainCatalogCategoryOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>

	<!--CatalogoAccountIn-CatalogoAccountOut -->
	<wsdl:message name="MaintainCatalogAccountExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogAccountRequest">
		<wsdl:part name="request" element="ns:MaintainCatalogAccountIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogAccountResponse">
		<wsdl:part name="response" element="ns:MaintainCatalogAccountOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>
  
  <!---->
	<wsdl:message name="MaintainCatalogProductExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogProductRequest">
		<wsdl:part name="request" element="ns:MaintainCatalogProductIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogProductResponse">
		<wsdl:part name="response" element="ns:MaintainCatalogProductOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>
  
  <!---->
	<wsdl:message name="MaintainCatalogSubCategoryExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogSubCategoryRequest">
		<wsdl:part name="request" element="ns:MaintainCatalogSubCategoryIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="MaintainCatalogSubCategoryResponse">
		<wsdl:part name="response" element="ns:MaintainCatalogSubCategoryOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>

	<wsdl:message name="ConsultCatalogMenuExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogMenuRequest">
		<wsdl:part name="request" element="ns:ConsultCatalogMenuIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogMenuResponse">
		<wsdl:part name="response" element="ns:ConsultCatalogMenuOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>

	<wsdl:message name="ConsultCatalogRolMenuExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogRolMenuRequest">
		<wsdl:part name="request" element="ns:ConsultCatalogRolMenuIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogRolMenuResponse">
		<wsdl:part name="response" element="ns:ConsultCatalogRolMenuOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>

	<!--CatalogoContactMethodIn-CatalogoContactMethodOut -->
	<wsdl:message name="ConsultCatalogContactMethodExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogContactMethodRequest">
		<wsdl:part name="request" element="ns:ConsultCatalogContactMethodIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogContactMethodResponse">
		<wsdl:part name="response" element="ns:ConsultCatalogContactMethodOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>

	<!--CatalogoColorIn-CatalogoColorOut -->
	<wsdl:message name="ConsultCatalogColorExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogColorRequest">
		<wsdl:part name="request" element="ns:ConsultCatalogColorIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogColorResponse">
		<wsdl:part name="response" element="ns:ConsultCatalogColorOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>
	<!--CatalogoRolesIn-CatalogoRolesOut -->
	<wsdl:message name="ConsultCatalogRolExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogRolRequest">
		<wsdl:part name="request" element="ns:ConsultCatalogRolIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogRolResponse">
		<wsdl:part name="response" element="ns:ConsultCatalogRolOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>
	<!--CatalogoCoinIn-CatalogoCoinOut -->
	<wsdl:message name="ConsultCatalogCoinExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogCoinRequest">
		<wsdl:part name="request" element="ns:ConsultCatalogCoinIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogCoinResponse">
		<wsdl:part name="response" element="ns:ConsultCatalogCoinOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>
	<!--CatalogoCategoryIn-CatalogoCategoryOut -->
	<wsdl:message name="ConsultCatalogCategoryExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogCategoryRequest">
		<wsdl:part name="request" element="ns:ConsultCatalogCategoryIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogCategoryResponse">
		<wsdl:part name="response" element="ns:ConsultCatalogCategoryOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>
	<!--CatalogoProductIn-CatalogoAccountOut -->
	<wsdl:message name="ConsultCatalogAccountExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogAccountRequest">
		<wsdl:part name="request" element="ns:ConsultCatalogAccountIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogAccountResponse">
		<wsdl:part name="response" element="ns:ConsultCatalogAccountOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>

<!---->
	<wsdl:message name="ConsultCatalogProductExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogProductRequest">
		<wsdl:part name="request" element="ns:ConsultCatalogProductIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogProductResponse">
		<wsdl:part name="response" element="ns:ConsultCatalogProductOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>
  
  <!---->
	<wsdl:message name="ConsultCatalogSubCategoryExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogSubCategoryRequest">
		<wsdl:part name="request" element="ns:ConsultCatalogSubCategoryIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="ConsultCatalogSubCategoryResponse">
		<wsdl:part name="response" element="ns:ConsultCatalogSubCategoryOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>

	<wsdl:portType name="CatalogManager">

		<wsdl:operation name="MaintainCatalogMenu">
			<wsdl:input name="MaintainCatalogMenuRequest"
				message="tns:MaintainCatalogMenuRequest" />
			<wsdl:output name="MaintainCatalogMenuResponse"
				message="tns:MaintainCatalogMenuResponse" />
			<wsdl:fault name="excepcion"
				message="tns:MaintainCatalogMenuExcepcion" />
		</wsdl:operation>
		
				<wsdl:operation name="MaintainCatalogRolMenu">
			<wsdl:input name="MaintainCatalogRolMenuRequest"
				message="tns:MaintainCatalogRolMenuRequest" />
			<wsdl:output name="MaintainCatalogRolMenuResponse"
				message="tns:MaintainCatalogRolMenuResponse" />
			<wsdl:fault name="excepcion"
				message="tns:MaintainCatalogRolMenuExcepcion" />
		</wsdl:operation>

		<wsdl:operation name="MaintainCatalogContactMethod">
			<wsdl:input name="MaintainCatalogContactMethodRequest"
				message="tns:MaintainCatalogContactMethodRequest" />
			<wsdl:output name="MaintainCatalogContactMethodResponse"
				message="tns:MaintainCatalogContactMethodResponse" />
			<wsdl:fault name="excepcion"
				message="tns:MaintainCatalogContactMethodExcepcion" />
		</wsdl:operation>

		<wsdl:operation name="MaintainCatalogColor">
			<wsdl:input name="MaintainCatalogColorRequest" message="tns:MaintainCatalogColorRequest" />
			<wsdl:output name="MaintainCatalogColorResponse" message="tns:MaintainCatalogColorResponse" />
			<wsdl:fault name="excepcion" message="tns:MaintainCatalogColorExcepcion" />
		</wsdl:operation>
  <!---->
		<wsdl:operation name="MaintainCatalogSubCategory">
			<wsdl:input name="MaintainCatalogSubCategoryRequest"
				message="tns:MaintainCatalogSubCategoryRequest" />
			<wsdl:output name="MaintainCatalogSubCategoryResponse"
				message="tns:MaintainCatalogSubCategoryResponse" />
			<wsdl:fault name="excepcion" message="tns:MaintainCatalogSubCategoryExcepcion" />
		</wsdl:operation>
    <!---->
		<wsdl:operation name="MaintainCatalogProduct">
			<wsdl:input name="MaintainCatalogProductRequest" message="tns:MaintainCatalogProductRequest" />
			<wsdl:output name="MaintainCatalogProductResponse"
				message="tns:MaintainCatalogProductResponse" />
			<wsdl:fault name="excepcion" message="tns:MaintainCatalogProductExcepcion" />
		</wsdl:operation>

		<!--CatalogoRoles -->
		<wsdl:operation name="MaintainCatalogRol">
			<wsdl:input name="MaintainCatalogRolRequest" message="tns:MaintainCatalogRolRequest" />
			<wsdl:output name="MaintainCatalogRolResponse" message="tns:MaintainCatalogRolResponse" />
			<wsdl:fault name="excepcion" message="tns:MaintainCatalogRolExcepcion" />
		</wsdl:operation>

		<!--CatalogoCoin -->
		<wsdl:operation name="MaintainCatalogCoin">
			<wsdl:input name="MaintainCatalogCoinRequest" message="tns:MaintainCatalogCoinRequest" />
			<wsdl:output name="MaintainCatalogCoinResponse" message="tns:MaintainCatalogCoinResponse" />
			<wsdl:fault name="excepcion" message="tns:MaintainCatalogCoinExcepcion" />
		</wsdl:operation>
		<!--CatalogoCategory -->
		<wsdl:operation name="MaintainCatalogCategory">
			<wsdl:input name="MaintainCatalogCategoryRequest" message="tns:MaintainCatalogCategoryRequest" />
			<wsdl:output name="MaintainCatalogCategoryResponse"
				message="tns:MaintainCatalogCategoryResponse" />
			<wsdl:fault name="excepcion" message="tns:MaintainCatalogCategoryExcepcion" />
		</wsdl:operation>
		<!--MaintainProductRequest -->
		<!--wsdl:operation name="MaintainProduct"> <wsdl:input name="MaintainProductRequest" 
			message="tns:MaintainProductRequest"/> <wsdl:output name="MaintainProductResponse" 
			message="tns:MaintainProductResponse"/> <wsdl:fault name="excepcion" message="tns:MaintainProductExcepcion"/> 
			</wsdl:operation -->
		<!--CatalogoAccount -->
		<wsdl:operation name="MaintainCatalogAccount">
			<wsdl:input name="MaintainCatalogAccountRequest" message="tns:MaintainCatalogAccountRequest" />
			<wsdl:output name="MaintainCatalogAccountResponse"
				message="tns:MaintainCatalogAccountResponse" />
			<wsdl:fault name="excepcion" message="tns:MaintainCatalogAccountExcepcion" />
		</wsdl:operation>

		<!--CatalogoColor -->
		<wsdl:operation name="ConsultCatalogColor">
			<wsdl:input name="ConsultCatalogColorRequest" message="tns:ConsultCatalogColorRequest" />
			<wsdl:output name="ConsultCatalogColorResponse" message="tns:ConsultCatalogColorResponse" />
			<wsdl:fault name="excepcion" message="tns:ConsultCatalogColorExcepcion" />
		</wsdl:operation>
		<!--CatalogoRoles -->
		<wsdl:operation name="ConsultCatalogRol">
			<wsdl:input name="ConsultCatalogRolRequest" message="tns:ConsultCatalogRolRequest" />
			<wsdl:output name="ConsultCatalogRolResponse" message="tns:ConsultCatalogRolResponse" />
			<wsdl:fault name="excepcion" message="tns:ConsultCatalogRolExcepcion" />
		</wsdl:operation>
		<!--CatalogoCoin -->
		<wsdl:operation name="ConsultCatalogCoin">
			<wsdl:input name="ConsultCatalogCoinRequest" message="tns:ConsultCatalogCoinRequest" />
			<wsdl:output name="ConsultCatalogCoinResponse" message="tns:ConsultCatalogCoinResponse" />
			<wsdl:fault name="excepcion" message="tns:ConsultCatalogCoinExcepcion" />
		</wsdl:operation>
		<!--CatalogoCategory -->
		<wsdl:operation name="ConsultCatalogCategory">
			<wsdl:input name="ConsultCatalogCategoryRequest" message="tns:ConsultCatalogCategoryRequest" />
			<wsdl:output name="ConsultCatalogCategoryResponse"
				message="tns:ConsultCatalogCategoryResponse" />
			<wsdl:fault name="excepcion" message="tns:ConsultCatalogCategoryExcepcion" />
		</wsdl:operation>

		<!--CatalogoAccount -->
		<wsdl:operation name="ConsultCatalogAccount">
			<wsdl:input name="ConsultCatalogAccountRequest" message="tns:ConsultCatalogAccountRequest" />
			<wsdl:output name="ConsultCatalogAccountResponse"
				message="tns:ConsultCatalogAccountResponse" />
			<wsdl:fault name="excepcion" message="tns:ConsultCatalogAccountExcepcion" />
		</wsdl:operation>

<!---->
		<wsdl:operation name="ConsultCatalogProduct">
			<wsdl:input name="ConsultCatalogProductRequest" message="tns:ConsultCatalogProductRequest" />
			<wsdl:output name="ConsultCatalogProductResponse"
				message="tns:ConsultCatalogProductResponse" />
			<wsdl:fault name="excepcion" message="tns:ConsultCatalogProductExcepcion" />
		</wsdl:operation>
    <!---->
		<wsdl:operation name="ConsultCatalogSubCategory">
			<wsdl:input name="ConsultCatalogSubCategoryRequest"
				message="tns:ConsultCatalogSubCategoryRequest" />
			<wsdl:output name="ConsultCatalogSubCategoryResponse"
				message="tns:ConsultCatalogSubCategoryResponse" />
			<wsdl:fault name="excepcion" message="tns:ConsultCatalogSubCategoryExcepcion" />
		</wsdl:operation>

		<wsdl:operation name="ConsultCatalogContactMethod">
			<wsdl:input name="ConsultCatalogContactMethodRequest"
				message="tns:ConsultCatalogContactMethodRequest" />
			<wsdl:output name="ConsultCatalogContactMethodResponse"
				message="tns:ConsultCatalogContactMethodResponse" />
			<wsdl:fault name="excepcion"
				message="tns:ConsultCatalogContactMethodExcepcion" />
		</wsdl:operation>
		
				<wsdl:operation name="ConsultCatalogMenu">
			<wsdl:input name="ConsultCatalogMenuRequest"
				message="tns:ConsultCatalogMenuRequest" />
			<wsdl:output name="ConsultCatalogMenuResponse"
				message="tns:ConsultCatalogMenuResponse" />
			<wsdl:fault name="excepcion"
				message="tns:ConsultCatalogMenuExcepcion" />
		</wsdl:operation>
		
				<wsdl:operation name="ConsultCatalogRolMenu">
			<wsdl:input name="ConsultCatalogRolMenuRequest"
				message="tns:ConsultCatalogRolMenuRequest" />
			<wsdl:output name="ConsultCatalogRolMenuResponse"
				message="tns:ConsultCatalogRolMenuResponse" />
			<wsdl:fault name="excepcion"
				message="tns:ConsultCatalogRolMenuExcepcion" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CatalogManagerSOAP" type="tns:CatalogManager">
		<soap11:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<!--CatalogoCatalogMenu -->
		<wsdl:operation name="MaintainCatalogMenu">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="MaintainCatalogMenuRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:MaintainCatalogMenuRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="MaintainCatalogMenuResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:MaintainCatalogMenuResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
				<!--CatalogRolMenu -->
		<wsdl:operation name="MaintainCatalogRolMenu">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="MaintainCatalogRolMenuRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:MaintainCatalogRolMenuRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="MaintainCatalogRolMenuResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:MaintainCatalogRolMenuResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<!--CatalogoContactMethod -->
		<wsdl:operation name="MaintainCatalogContactMethod">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="MaintainCatalogContactMethodRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:MaintainCatalogContactMethodRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="MaintainCatalogContactMethodResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:MaintainCatalogContactMethodResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<!--CatalogoColor -->
		<wsdl:operation name="MaintainCatalogColor">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="MaintainCatalogColorRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:MaintainCatalogColorRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="MaintainCatalogColorResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:MaintainCatalogColorResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<!--CatalogoRoles -->
		<wsdl:operation name="MaintainCatalogRol">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="MaintainCatalogRolRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:MaintainCatalogRolRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="MaintainCatalogRolResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:MaintainCatalogRolResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<!--CatalogoCoin -->
		<wsdl:operation name="MaintainCatalogCoin">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="MaintainCatalogCoinRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:MaintainCatalogCoinRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="MaintainCatalogCoinResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:MaintainCatalogCoinResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!--CatalogoCategory -->
		<wsdl:operation name="MaintainCatalogCategory">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="MaintainCatalogCategoryRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:MaintainCatalogCategoryRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="MaintainCatalogCategoryResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:MaintainCatalogCategoryResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!--CatalogoAccount -->
		<wsdl:operation name="MaintainCatalogAccount">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="MaintainCatalogAccountRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:MaintainCatalogAccountRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="MaintainCatalogAccountResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:MaintainCatalogAccountResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="MaintainCatalogProduct">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="MaintainCatalogProductRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:MaintainCatalogProductRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="MaintainCatalogProductResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:MaintainCatalogProductResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="MaintainCatalogSubCategory">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="MaintainCatalogSubCategoryRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:MaintainCatalogSubCategoryRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="MaintainCatalogSubCategoryResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:MaintainCatalogSubCategoryResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<!--CatalogoColor -->
		<wsdl:operation name="ConsultCatalogColor">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="ConsultCatalogColorRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:ConsultCatalogColorRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="ConsultCatalogColorResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:ConsultCatalogColorResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!--CatalogoRoles -->
		<wsdl:operation name="ConsultCatalogRol">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="ConsultCatalogRolRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:ConsultCatalogRolRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="ConsultCatalogRolResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:ConsultCatalogRolResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!--CatalogoCoin -->
		<wsdl:operation name="ConsultCatalogCoin">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="ConsultCatalogCoinRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:ConsultCatalogCoinRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="ConsultCatalogCoinResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:ConsultCatalogCoinResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!--CatalogoCategory -->
		<wsdl:operation name="ConsultCatalogCategory">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="ConsultCatalogCategoryRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:ConsultCatalogCategoryRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="ConsultCatalogCategoryResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:ConsultCatalogCategoryResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<!--CatalogoAccount -->
		<wsdl:operation name="ConsultCatalogAccount">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="ConsultCatalogAccountRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:ConsultCatalogAccountRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="ConsultCatalogAccountResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:ConsultCatalogAccountResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!--CatalogoAccount -->
		<wsdl:operation name="ConsultCatalogProduct">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="ConsultCatalogProductRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:ConsultCatalogProductRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="ConsultCatalogProductResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:ConsultCatalogProductResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!--CatalogoSubCategory -->
		<wsdl:operation name="ConsultCatalogSubCategory">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="ConsultCatalogSubCategoryRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:ConsultCatalogSubCategoryRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="ConsultCatalogSubCategoryResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:ConsultCatalogSubCategoryResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!--ContactMethod -->
		<wsdl:operation name="ConsultCatalogContactMethod">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="ConsultCatalogContactMethodRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:ConsultCatalogContactMethodRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="ConsultCatalogContactMethodResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:ConsultCatalogContactMethodResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="ConsultCatalogMenu">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="ConsultCatalogMenuRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:ConsultCatalogMenuRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="ConsultCatalogMenuResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:ConsultCatalogMenuResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		
				<wsdl:operation name="ConsultCatalogRolMenu">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="ConsultCatalogRolMenuRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:ConsultCatalogRolMenuRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="ConsultCatalogRolMenuResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:ConsultCatalogRolMenuResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CatalogManager">
		<wsdl:port name="CatalogManagerHttpPort" binding="tns:CatalogManagerSOAP">
			<soap11:address
				location="http://localhost:8080/catalog-webservice/ws/CatalogoCorporativoService.wsdl" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>