Proyectos/ITSC ITM/DESARROLLO/loam-framework/core-customer/customer-jaxb/src/main/resources/com/webapp/schemas/CustomerDetailsV1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp200409="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsp200607="http://www.w3.org/2006/07/ws-policy"
	xmlns:mf="http://www.loam.com/framework/core/customer/jaxb/ws/general/Headers"
	xmlns:ns="http://www.loam.com/framework/core/customer/jaxb/ws/CustomerDetails"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.loam.com/framework/core/customer/jaxb/ws/CustomerDetails"
	xmlns:tnsEx="http://www.loam.com/framework/core/customer/jaxb/ws/common/ExcepcionGeneral"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerDetails"
	targetNamespace="http://www.loam.com/framework/core/customer/jaxb/ws/CustomerDetails">

	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.loam.com/framework/core/customer/jaxb/ws/CustomerDetails">
			<xsd:include schemaLocation="CustomerDetailsV1.xsd" />
			<xsd:import schemaLocation="HeaderRequest.xsd"
				namespace="http://www.loam.com/framework/core/customer/jaxb/ws/general/Headers" />
			<xsd:import schemaLocation="HeaderResponse.xsd"
				namespace="http://www.loam.com/framework/core/customer/jaxb/ws/general/Headers" />
			<xsd:import schemaLocation="ExcepcionGenerica.xsd"
				namespace="http://www.loam.com/framework/core/customer/jaxb/ws/common/ExcepcionGeneral" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="MaintainDataPersonExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="MaintainDataPersonRequest">
		<wsdl:part name="request" element="ns:MaintainDataPersonIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="MaintainDataPersonResponse">
		<wsdl:part name="response" element="ns:MaintainDataPersonOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>

	<wsdl:message name="ConsultDataPersonExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="ConsultDataPersonRequest">
		<wsdl:part name="request" element="ns:ConsultDataPersonIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="ConsultDataPersonResponse">
		<wsdl:part name="response" element="ns:ConsultDataPersonOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>
	
	<wsdl:message name="MaintainUserAliasExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="MaintainUserAliasRequest">
		<wsdl:part name="request" element="ns:MaintainUserAliasIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="MaintainUserAliasResponse">
		<wsdl:part name="response" element="ns:MaintainUserAliasOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>
	
	<wsdl:message name="ConsultUserAliasExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="ConsultUserAliasRequest">
		<wsdl:part name="request" element="ns:ConsultUserAliasIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="ConsultUserAliasResponse">
		<wsdl:part name="response" element="ns:ConsultUserAliasOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>
	
	<wsdl:message name="MaintainUserContactAddressExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="MaintainUserContactAddressRequest">
		<wsdl:part name="request" element="ns:MaintainUserContactAddressIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="MaintainUserContactAddressResponse">
		<wsdl:part name="response" element="ns:MaintainUserContactAddressOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>
	
	<wsdl:message name="ConsultUserContactAddressExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="ConsultUserContactAddressRequest">
		<wsdl:part name="request" element="ns:ConsultUserContactAddressIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="ConsultUserContactAddressResponse">
		<wsdl:part name="response" element="ns:ConsultUserContactAddressOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>
	
	<wsdl:message name="MaintainUserContactMethodExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="MaintainUserContactMethodRequest">
		<wsdl:part name="request" element="ns:MaintainUserContactMethodIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="MaintainUserContactMethodResponse">
		<wsdl:part name="response" element="ns:MaintainUserContactMethodOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>
	
	<wsdl:message name="ConsultUserContactMethodExcepcion">
		<wsdl:part name="error" element="tnsEx:Excepcion" />
	</wsdl:message>
	<wsdl:message name="ConsultUserContactMethodRequest">
		<wsdl:part name="request" element="ns:ConsultUserContactMethodIn" />
		<wsdl:part name="requestHeader" element="mf:HeaderReq" />
	</wsdl:message>
	<wsdl:message name="ConsultUserContactMethodResponse">
		<wsdl:part name="response" element="ns:ConsultUserContactMethodOut" />
		<wsdl:part name="responseHeader" element="mf:HeaderRes" />
	</wsdl:message>
	
	<wsdl:portType name="CustomerDetails">
		<!--UserAlias -->
		<wsdl:operation name="MaintainUserAlias">
			<wsdl:input name="MaintainUserAliasRequest" message="tns:MaintainUserAliasRequest" />
			<wsdl:output name="MaintainUserAliasResponse" message="tns:MaintainUserAliasResponse" />
			<wsdl:fault name="excepcion" message="tns:MaintainUserAliasExcepcion" />
		</wsdl:operation>

		<!--UserAlias -->
		<wsdl:operation name="ConsultUserAlias">
			<wsdl:input name="ConsultUserAliasRequest" message="tns:ConsultUserAliasRequest" />
			<wsdl:output name="ConsultUserAliasResponse" message="tns:ConsultUserAliasResponse" />
			<wsdl:fault name="excepcion" message="tns:ConsultUserAliasExcepcion" />
		</wsdl:operation>

		<!--MaintainDataPerson -->
		<wsdl:operation name="MaintainDataPerson">
			<wsdl:input name="MaintainDataPersonRequest" message="tns:MaintainDataPersonRequest" />
			<wsdl:output name="MaintainDataPersonResponse" message="tns:MaintainDataPersonResponse" />
			<wsdl:fault name="excepcion" message="tns:MaintainDataPersonExcepcion" />
		</wsdl:operation>

		<!--ConsultDataPerson -->
		<wsdl:operation name="ConsultDataPerson">
			<wsdl:input name="ConsultDataPersonRequest" message="tns:ConsultDataPersonRequest" />
			<wsdl:output name="ConsultDataPersonResponse" message="tns:ConsultDataPersonResponse" />
			<wsdl:fault name="excepcion" message="tns:ConsultDataPersonExcepcion" />
		</wsdl:operation>

		<!--MaintainUserContactAddress -->
		<wsdl:operation name="MaintainUserContactAddress">
			<wsdl:input name="MaintainUserContactAddressRequest" message="tns:MaintainUserContactAddressRequest" />
			<wsdl:output name="MaintainUserContactAddressResponse" message="tns:MaintainUserContactAddressResponse" />
			<wsdl:fault name="excepcion" message="tns:MaintainUserContactAddressExcepcion" />
		</wsdl:operation>

		<!--ConsultUserContactAddress -->
		<wsdl:operation name="ConsultUserContactAddress">
			<wsdl:input name="ConsultUserContactAddressRequest" message="tns:ConsultUserContactAddressRequest" />
			<wsdl:output name="ConsultUserContactAddressResponse" message="tns:ConsultUserContactAddressResponse" />
			<wsdl:fault name="excepcion" message="tns:ConsultUserContactAddressExcepcion" />
		</wsdl:operation>
		
				<!--MaintainUserContactAddress -->
		<wsdl:operation name="MaintainUserContactMethod">
			<wsdl:input name="MaintainUserContactMethodRequest" message="tns:MaintainUserContactMethodRequest" />
			<wsdl:output name="MaintainUserContactMethodResponse" message="tns:MaintainUserContactMethodResponse" />
			<wsdl:fault name="excepcion" message="tns:MaintainUserContactMethodExcepcion" />
		</wsdl:operation>

		<!--ConsultUserContactAddress -->
		<wsdl:operation name="ConsultUserContactMethod">
			<wsdl:input name="ConsultUserContactMethodRequest" message="tns:ConsultUserContactMethodRequest" />
			<wsdl:output name="ConsultUserContactMethodResponse" message="tns:ConsultUserContactMethodResponse" />
			<wsdl:fault name="excepcion" message="tns:ConsultUserContactMethodExcepcion" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CustomerDetailsSOAP" type="tns:CustomerDetails">
		<soap11:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />

		<!--MaintainUserAlias -->
		<wsdl:operation name="MaintainUserAlias">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="MaintainUserAliasRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:MaintainUserAliasRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="MaintainUserAliasResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:MaintainUserAliasResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<!--ConsultUserAlias -->
		<wsdl:operation name="ConsultUserAlias">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="ConsultUserAliasRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:ConsultUserAliasRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="ConsultUserAliasResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:ConsultUserAliasResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<!--MaintainDataPerson -->
		<wsdl:operation name="MaintainDataPerson">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="MaintainDataPersonRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:MaintainDataPersonRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="MaintainDataPersonResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:MaintainDataPersonResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<!--ConsultDataPerson -->
		<wsdl:operation name="ConsultDataPerson">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="ConsultDataPersonRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:ConsultDataPersonRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="ConsultDataPersonResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:ConsultDataPersonResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<!--MaintainUserContactAddress -->
		<wsdl:operation name="MaintainUserContactAddress">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="MaintainUserContactAddressRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:MaintainUserContactAddressRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="MaintainUserContactAddressResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:MaintainUserContactAddressResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<!--ConsultUserContactAddress -->
		<wsdl:operation name="ConsultUserContactAddress">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="ConsultUserContactAddressRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:ConsultUserContactAddressRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="ConsultUserContactAddressResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:ConsultUserContactAddressResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		
		<!--MaintainUserContactAddress -->
		<wsdl:operation name="MaintainUserContactMethod">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="MaintainUserContactMethodRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:MaintainUserContactMethodRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="MaintainUserContactMethodResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:MaintainUserContactMethodResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<!--ConsultUserContactMethod -->
		<wsdl:operation name="ConsultUserContactMethod">
			<soap11:operation soapAction="" style="document" />
			<wsdl:input name="ConsultUserContactMethodRequest">
				<soap11:body parts="request" use="literal" />
				<soap11:header message="tns:ConsultUserContactMethodRequest"
					part="requestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output name="ConsultUserContactMethodResponse">
				<soap11:body parts="response" use="literal" />
				<soap11:header message="tns:ConsultUserContactMethodResponse"
					part="responseHeader" use="literal" />
			</wsdl:output>
			<wsdl:fault name="excepcion">
				<soap11:fault name="excepcion" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CustomerDetails">
		<wsdl:port name="CustomerDetailsHttpPort" binding="tns:CustomerDetailsSOAP">
			<soap11:address
				location="http://localhost:8080/loam/customer/ws/CustomerDetailsService.wsdl" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>